.text{
    padding: 6px 8px;
}
.text:hover{
    background-color: rgba(0,0,0,0.05);
}
.text-primary{
color:    #1976d2
}
.text-primary:hover{
    background-color: rgba(10, 46, 82, 0.05);
}
.text-secondary{
    color:rgb(220, 0, 78);
}
.text-secondary:hover{
background-color: rgba(220,0,78,0.05);
}
.text:disabled{
    color: rgba(0, 0, 0, 0.26);
    cursor: default;
    pointer-events: none;
}
