*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', serif;
    color: #777;
    font-weight: 400;
}
h1, h2, h3, h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h2{
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    color:#333;
}


#navbar{
    width: 100%;
    min-height: 50px;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
}

#navbar a{
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    color: #eee;
    font-weight: 400;
    font-size: 15px;
    padding: 5px 20px;
    border: 2px solid transparent;
    letter-spacing: 0.5;
    margin: 0px 20px;
}

#navbar a:hover{
    color: #d43031;
}
header{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('../ND_4/Pictures/intro-bg.jpg') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
header h1{
    font-family: 'Rochester', cursive;
    color: #fff;
    font-weight: 400;
    font-size:10em;
}
header p{
    color:#fff;
    font-size:24px;
    font-weight: 400;
}

#specials{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#specials .container {
    width: 90%;
    background-color: #f2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-line{
    background: #d43031;
    height: 2px;
    width: 70px;
    margin: 20px auto;
}

#specials .container .row{
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 70px;
}
#specials .container .row .special-item{
    width: 300px;
    text-align: center;
}

#specials .container .row .special-item h3{
    font-size: 24px;
    font-weight: 400;
    color:#333;
}

#specials .container .row .special-item img{
    margin:30px 0 20px;
    max-width: 100%;
}

#specials .container .row .special-item p{
line-height: 24px;
margin: 15px 0 20px;
}

#about{
    background: #f6f6f6;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
#about .container{
    display: flex;
    flex-direction: row;
}

#about .container img{
    height: 570px;
    width: 50%;

}

#about .container .about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about .container .about-text p{
    width: 50%;
    line-height: 24px;
    margin: 15px 0 30px;
    font-size: 15px;

}

#menu{
    margin:90px;
}

#menu .menu-sections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}

#menu .menu-sections .menu-section-1 .menu-item .menu-name-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu .menu-sections .menu-section-1 .menu-item .menu-item-description {
    width: 75%;
    }
    
#menu .menu-sections .menu-section-1{
    width: 415px;
    height: 636px;
    margin: 0px 40px;
}

#menu .menu-sections .menu-section-1 h2{
    font-size:32px;
    margin-bottom: 10px;
}

#menu .menu-sections .menu-item .menu-name-price{
    font-size:20px;
    font-weight: 400;
    color:#444;
    margin-bottom: 10px;
    margin-top: 60px;
}

#menu .menu-sections .menu-item .menu-item-description{
    font-size:15px;
    color:#777;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 24px;
}

.images{
    display:block;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    width: 319px;
    height: 212px;
    margin-top: 100px;
    margin-left: 0px;
}

#chef .container{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
} 

#chef .container img{
    height: 366px;
    width: 550px;

}

#chef .container .about-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chef .container .about-text p{
    width: 50%;
    line-height: 24px;
    margin: 15px 0 30px;
    font-size: 15px;
}

#contact{
    width: 100vw;
    height: 787px;
    background-color: #333333;
    margin-left: -90px; 
    margin-top: 150px;
}
#contact .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#contact .container h3{
    color:#AAAAAA;
    margin: 80px 0px 0px;
    padding: 20px 0px;
    font-size: 18px;
    text-align: center;
}

#contact .container p{
    font-size: 15px;
    color:#777;
    text-align: center;
    line-height: 24px;
}

.title-line-2{
    background: #d43031;
    height: 2px;
    width: 40px;
    margin:-10px 0px 20px 40%;
}

#contact .contact-form{
    text-align: center;
    padding-top: 80px;
    color:#AAAAAA
}

#contact .contact-form .title-line-3{
    background: #d43031;
    height: 2px;
    width: 40px;
    margin:10px 0px 20px 750px;
}

/* #contact .contact-form {
    position: absolute;
    height: 34px;
    width: 350px;
    display: flex;
    justify-content: center;
    background-color: #333333;

} */

#contact .contact-form .name-email .name, #contact .contact-form .name-email .email, #contact .contact-form .message{
    font-size:12pt;
    background-color: rgba(255,255,255,.2);
    color: #ccc;
    border:none;
}

 #contact .contact-form .name-email .name, #contact .contact-form .name-email .email {
    height:34px;
    width: 350px;
    margin: 30px 10px;
}

#contact .contact-form .message{
    height: 101px;
    width: 725px;
    margin-bottom: 30px;
}

#contact .contact-form input[type="submit"]{
    height: 52px;
    width: 159px;
    color:#777;
    background-color: transparent;
    border: 2px solid #777;
}

.footer{
    width: 100%;
    height: 97px;
    background-color: #262626;
    display: flex;
    align-items: center;
}

