*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

form{
    margin-top:20px;
    width:600px ;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    padding: 1em;
    display: grid;
    grid-template-co
    156+lumns: 200px 1fr;
    grid-gap: 16px;/
}

label{
    grid-column: 1 / 2;

}

input{
    grid-column: 2 / 3;
}

input:focus{
    outline:3px solid gold;
}
input[type="submit"]{
    background: lightgrey;
    padding:0.7em;
    border: 0;
    cursor:pointer;
}
input[type="submit"]:hover{
    background: gold;
}